/* STYLES for the App component -- the "frame"
I added the background image in index.css because it affects the background in index.html, where App.js is placed.
*/
.body {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-body {
  background-color: darkgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
